.concert-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.inform-container {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inform-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}

.concert-title {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
    word-wrap: break-word; /* 길면 줄바꿈 */
    white-space: normal; /* 줄바꿈 허용 */
}

.concert-venue {
    font-size: 1rem;
    color: #666;
    text-align: center;
}

.seat-container {
    position: relative;
    width: 68%;
    height: 500px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    overflow: auto;
}
.seat-container::-webkit-scrollbar {
    width: 8px;
}
.seat-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.seat-inner {
    position: relative;
    /* width: 100%; */
    width: fit-content;
    min-width: 100%;

    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat-front {
    text-align: center;
    width: 100%;
    margin: 25px 0 15px 0;
    font-weight: bold;
    font-size: 1rem;
    color: #ccc;
}

.seat-group {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

.seat {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: gray;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    font-size: 0.8rem;
    color: white;
    transition: transform 0.1s ease;
}
.seat:hover {
    transform: scale(1.1);
}
.seat.available {
  background-color: #4CAF50;
}
.seat.sold {
  background-color: #E74C3C;
}

@media (max-width: 900px) {
    .concert-container {
        flex-direction: column;
        align-items: center;
    }

    .inform-container,
    .seat-container {
        width: 90%;
    }

    .seat-container {
        margin-top: 20px;
    }
}